.homeContainer{
    display: grid;
    place-content: center;
    /* place-items: center; */
    padding: 1px 5px; 
    background-color: darkgray; 
    min-height: 100vh
}
.mapDisplay{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 80px;
}

@media (max-width: 720px) {
    .mapDisplay{
        grid-template-columns: repeat(2, 1fr);  
        gap: 15px; 
        padding: 5px;
    }
}