.mapContainer{
    border-right: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    cursor: pointer;
    text-align: start;
    display: grid; 
    gap: 10px;
};
.mapItem{
    font-weight: 490px;
    min-width: 100px; 
    border-right: 0.5px solid lightgray;
    padding: 15px;
}
