
.tableMapContainer{
    /* min-width: 70vw;  */
    /* background-color: ;  */
    /* margin-top: 0px; */
}
.tableWrapper{
        position: relative;
        width: 100%;
        overflow-x: auto; /* Ensures the table is scrollable if content overflows */
    @media screen and (max-width: 720px) {
        width:"60%";
    }
}
.tableMap{
    /* min-width: 70vw;  */
    background-color: lightgray; 
}

