
.tableMapContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.tableWrapper{
        position: relative;
        width: 100%;
        overflow-x: auto; /* Ensures the table is scrollable if content overflows */
    @media screen and (max-width: 1024px) {
       /* width: 100%; */
       max-width: 95vw;
       overflow: auto;
    }
}
.tableMap{
    background-color: lightgray; 
}

